
<div class="center-form">
	<form class="form-inline" action="index.php/check-resource" enctype="multipart/form-data" method="post" role="form">
			<input type="file" name="resource" class="input-lg" />
			<button type="submit" class="btn">Submit</button>
	</form>	
</div>