<section class="panel panel-default section-result">
	<div class="panel-heading">
		<h2>Screenshot(s)</h2>
	</div>
	<div class="panel-body">
		
		{% for documentName, result in results %}
			
			<div class="panel  panel-info result-item">
				<div class="panel-heading" data-toggle="collapse" data-target="#screenshot-{{loop.index}}">	
					<span>{{ documentName }}</span>
				</div> <!-- panel-heading -->
				<div id="screenshot-{{loop.index}}" class="panel-body collapse">
					<img src="{{result.message}}" />
				</div>

			</div> <!-- .result-item -->

		{% endfor %}
</section>